@model IEnumerable<HastaneTakipSistemi.Models.HastaYapilanIslemler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@_localization.dildegis("create")</a>
</p>
<div class="table-responsive">
    <table class="table table-responsive table-borderless">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.giris)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cikis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tedaviAciklamasi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.barkodOlustur)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.giris)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cikis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tedaviAciklamasi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.barkodOlustur.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
